// REGISTER BANNER
#register {
  height: 123px;
  width: 100vw;
  background-color: $red;
  flex-direction: column;
  font-size: $font-14;

  p {
    color: #fff;
    margin: 0;
    text-align: center;
  }

  a {
    width: 150.5px;
    height: 36px;
    margin-top: 15px;
  }
}
