// PADRÃO
.full-button,
.outline-button {
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-button{
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  &.white {
    background-color: #ffffff;
    color: $red;
  }

  &.red {
    background-color: $red;
  }

  &.blue {
    background-color: $blue;
  }

  &.black {
    background-color: #000000;
  }
}

.outline-button.red {
  border: solid 2px $red;
  border-radius: 50px;
  background-color: #ffffff;
  color: $red;
}

.outline-button.white {
  border: solid 2px #ffffff;
  border-radius: 50px;
  background-color: $red;
  color: #ffffff;
}

body {
  font-family: $montserrat;
}

a {
  text-decoration: none;
}

.container {
  width: calc(100% - 50px);
  margin: 0 auto;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}
