// EXTRA INFORMATIONS
.info-system {
  background: linear-gradient(to bottom, $blue-light, $blue-medium);
  text-align: center;

  img {
    width: 100%;
    opacity: 0.45;
  }

  .container {
    padding: 10px 0;

    .info-paragraph {
      color: $blue-text;
      margin: 30px 0;

      h2 {
        font-size: $font-19;
        font-weight: 500;
        margin: 12px 0;
        span {
            display: block;
            font-size: 0.6em;
        }
      }

      p {
        font-size: $font-12;
        margin: 0;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}
