// FOOTER
#contentFooter{
  justify-content: flex-end;
}

#contactLink{
  width: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 110px;
  width: 100vw;

  .container {
    flex-wrap: wrap;

    .inside-links {
      width: 400px;
      margin-bottom: 20px;

      a {
        padding: 5px;
        margin: 0 5px;
        color: #9b9b9b;
        font-weight: 300;
        font-size: $font-9;
        &:hover {
          color: $red;
        }
      }
    }

    .social-media {
      width: 250px;

      a {
        font-size: $font-16;
        width: 30px;
        height: 30px;
        background-color: #9b9b9b;
        color: #fff;
        border-radius: 50px;
        margin: 0 10px;
        line-height: 12px;
        &:hover {
          background-color: $red;
        }
      }
    }
  }
}
