$red: #f05926;
$dark-gray: #424242;
$blue: #4ea6c9;
$blue-light: #bee8eb;
$blue-text: #3b8baa;
$blue-medium: #a1d5dc;

$montserrat: 'Montserrat', sans-serif;
$font-65: 4.063em;
$font-50: 3.125em;
$font-45: 2.813em;
$font-32: 2em;
$font-25: 1.563em;
$font-19: 1.188em;
$font-16: 1em;
$font-14: 0.875em;
$font-12: 0.750em;
$font-9: 0.563em;
$font-8: 0.5em;
