@import "./variables";

.container{
  text-align: center;
}

#submit-login{
  cursor: pointer;
}


form.login {
  display: inline-block !important;
  width: 486px;

  a{
    color:#26a69a;
    float: right;
    cursor: pointer;
  } 

  input{
    display: block;
  }

  
}

.msgError{
      display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #f05926;
    width: 486px;
    font-size: 1.188em;
    border-radius: 50px;
    border: solid 3px  #f05926;
}

.msg{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  margin-top: 130px;

  button {
    border: none;
    padding: 12px 20px;
    font-size: $font-19;
    width: 200px;
  }

  p {
    font-size: 14px;
    color: $dark-gray;
    margin: 20px;
    font-weight: 300;

    a {
      color: $red;
      margin-left: 10px;
    }
  }
}


.sweet-alert .sa-icon.sa-error {
    border-color: #f05926 !important;
}

.sweet-alert .sa-icon.sa-error .sa-line {
    background-color: #f05926 !important;
}

.sweet-alert button{
  background-color: #26a69a !important;
}


@media (min-width:300px) and (max-width:450px){

  form.login{
    width: 100%;
  }

}


@media (min-width: 700px) {
  
  
  
  #sign-up {
    .container {
      form.login {
        flex-direction: column;
      }

      .login-form {
        margin-top: 80px;

        button {
          width: 400px;
          padding: 24px 60px;
          font-size: $font-32;
          font-weight: 600;
        }

        p {
          font-size: 19px;
          margin: 25px;
        }
      }
    }
  }





}
@media (min-width: 900px) {
  #sign-up {
    .container {
      .login-form {
        margin-top: 140px;
      }
    }
  }
}

 